ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }

  /*-------------------------------------------------------------*/

    .caja{
      border: solid greenyellow 10px;
      margin: 40px 40cm 40px 20px;
      padding: 20px;
      color: orange;
      background-color: yellow;
  }

  /*-------------------------------------------------------------*/

  table{
      border-collapse: collapse;
      border: solid 3px green;
       
    }

    td {
        border: solid 3px green;
        border-collapse: collapse;
        padding: 5px;
    }
    th {
        border: solid 3px green;
        border-collapse: collapse;
        padding: 5px;
    }

    .gbd{
        background-color: red;
    
}
    .gbd:hover {
        background-color: hotpink;

}
    .par{
        background-color: blue;
    
}
    .par:hover {
        background-color: yellow;
    
}
    .iso{
        background-color: gray;
    
}
    .iso:hover {
        background-color: black;
        color: honeydew;
    
}
    .lm{
        background-color: brown;
    
}
    .lm:hover {
        background-color: purple;
    
}
    .fol{
        background-color: green;
    
}
    .fol:hover {
        background-color: steelblue;
    
}

 /*-------------------------------------------------------------*/

    .caja1 {
        border:solid black 5px;
        background-image: url(prueba1.jpg);
        padding: 5vw;
        margin: 3vw;
        text-align: center;
    }
    .caja2 {
        border:solid black 5px;
        background-image: url(prueba2.jpg);
        padding: 5vw;
        margin: 3vw;
        text-align: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    

    /*-------------------------------------------------------------*/

    .img1{
        display: block;
        width: 400px;
    }

    .img1:hover{
        filter: blur(5px);

    }
    .img2{
        display: block;
        width: 400px;
        animation: animacion1 2s ease 1s 3 alternate forwards;
    }

    @keyframes animacion1 {
        100%{
            transform: rotate(360deg);
        }
    }

    /*-------------------------------------------------------------*/

    .gradiente-linear{
        border: 5px grey solid;
        padding: 5vw;
        margin: 5vw;
        background: repeating-linear-gradient(green 30%, yellow 40% ); 
        text-align: center;
    }
    .gradiente{
        border: 5px grey solid;
        padding: 5vw;
        margin: 5vw;
        background: repeating-radial-gradient(red 40%, orange 60% ); 
        text-align: center;
    }

    /*-------------------------------------------------------------*/

    .animation1{
        width: 100px;
        height: 100px;
        background-color: red;
        position: relative;
        animation-name: example;
        animation-duration: 4s;
        animation-delay: 2s;
        
    }

    @keyframes example {
        0%   {background-color:red; left:0px; top:0px;}
        50%  {background-color:blue; left:200px;}
        100% {background-color:red; left:0px; top:0px;}
      }